body {
    font-family: Arial, sans-serif;
    background: #eef1f5;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    position: relative;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 300px;
    margin: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #004a99;
}

#items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.item-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

#login h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

#filters {
    text-align: center;
    margin-bottom: 10px;
}

#filters button {
    width: auto;
    padding: 8px 14px;
}

#sort-price {
	width: 80px !important;
}

#sort-quantity {
    width: 80px !important;
}

.logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 40px;
    background: #cc0000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    line-height: 40px;
}

.logout-btn:hover {
    background: #990000;
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}
